{% extends "base.html" %}
{% block title %}遊戲大廳{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/filter.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/board.css') }}">
{% endblock %}
{% block content %}
<div class="game-layout">
    <div class="side-panel">
        <h3>選擇要用的卷積卡</h3>
        <div id="filter-list"></div>
        <p><button id="apply-btn" disabled>確認卷積</button></p>
    </div>

    <div class="main-panel">
        <h2>歡迎，{{ session.username }}</h2>
        <div id="game-button">
            <button id="reset-btn" >重設棋盤</button>
           <!-- <button onclick="convolutionByRowUpdate()">卷積更新棋盤</button> -->
        </div>
        <div style="margin-top: 10px;">
            <p><strong>目前輪到：</strong> <span id="turn-indicator">⚫黑棋</span></p>
            <p id="error-msg" style="color: red; height: 1.5em;"></p>
        </div>
        <div id="game-board">
            <canvas id="board" width="570" height="570" style="border:1px solid black"></canvas>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script type="module" src="{{ url_for('static', filename='js/conv_mode2.js') }}"></script>
{% endblock %}